#mainmenu {
    height: 28px; /* need for eficient position*/
}
#mainmenu > ul > li {  
    overflow: visible;
    display: block; 
    float: left; 
}
#mainmenu > ul > li ul { 
    display: none;
    position: absolute;
    background: #FFF; 
    padding: 0;
    height: auto; 
}
/* drop down menu */
#mainmenu > ul > li > ul { 
    margin-top: 4px;
    
}
/* others sub menus */
#mainmenu > ul > li > ul li ul { 
    margin-top: -20px; /* align with parent*/
    left:99%;
    width: 100%;
}

#mainmenu ul li:hover > ul { 
    display: block; 
}
#mainmenu ul li ul li a{
    padding: 4px 14px; 
    background-color: #EFF4FA;
    color: #6399CD;
    text-decoration: none;
    display: block;
}
#mainmenu ul li ul li a:hover { 
    color: #fff; 
    background:#4c99c5;
}